.ch1,.ch2{
    background-color: brown;
    height: 200px;
    width: 200px;
    border: 10px solid black;
   
}
.parent{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;

}
.ch1{
    background-color: azure;
}
.ch2{
    background-color: aquamarine;
} 
.bac{
    background-image: url(images/new.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 400px;
}