.nav ul{
    background-color:rgb(187, 141, 73);
    display: flex;
    gap: 40px;
    justify-content: center;
    height: 50px;
    align-items: center;
    list-style: none;
    margin-top: 50px;
    color: white;
   
}

 .sec{
    background-color:#d6ccc2;
    height: 550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
 }
 .ch1,.ch2{
    width:450px;
    padding-top: 25px;

 }

.sec2{
    margin-top: 10px;
  
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}
.ch21{
    background-color:#d6ccc2 ;
    display: flex;
    align-items: center;
    gap: 50px;
    height: 250px;
   
}
.ch22{
    background-color:#d6ccc2 ;
    height: 250px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.sec3{
    
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    margin-bottom: 40px;
   
}
.sec3 div{
    margin-top: 40px;
    background-color:#d6ccc2;
    border: 2px solid black;
    padding: 30px;                     
     border-radius: 4px;
     
    
} 
button{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 60px;
    padding-right: 60px;
} 
img{
    padding-left: 50px;
    padding-right: 30px;
}
h1{
    padding-left: 35px;
}
p{
    padding-left: 25px;
}
